# Git
.git
.gitignore

# Docker
docker-compose*.yml
*Dockerfile
.dockerignore

# Python
__pycache__/
*.egg-info
.venv/
.ruff_cache/

# IDE
.vscode/
.idea/
.claude/

# 测试和临时文件
ipc_cfg/
misc/
test/

# 文档
*.md
